html,
body,
.landing {
    height: 100%;
}

.landing {
    background: url("1.JPG")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#endPad
{
	
	padding-top:595px;
}
#boot
{
	margin-left:80px;
	
}
#foot1
{
	margin-left:82px;
	
}
.modal-backdrop {
   background-color: #d6e4f9;
}